html[data-color-mode="dark"] .utterances {
    background-color: #0D1117 !important;
}

html[data-theme="dark"] #utterances-dark {
    display: block;
}

html #utterances-light,
html[data-theme="light"] #utterances-light {
    display: block;
}

html #utterances-dark,
html[data-theme="light"] #utterances-dark {
    display: none;
}
