{{ define "about" }}
<div>
  <div class="position-relative">
    {{ with .Site.GetPage "/about/about"  }}
    <div class="Box mt-4">
      <div class="Box-body p-4">
        <div class="d-flex flex-justify-between">
          <div class="text-mono text-small mb-3">
            {{ partial "select_octicon.html" (dict "context" . "octicon" "face" ) }}
            ABOUT<span class="text-gray-light">.md</span>
          </div>
        </div>
        <article class="markdown-body entry-content container-lg f5">
          {{- .Content -}}
        </article>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
