<div class="mt-4 position-sticky top-0 d-none d-md-block bg-white width-full border-bottom color-border-secondary"
  style="z-index:3;">
  <div class="container-xl px-3 px-md-4 px-lg-5">
    <div class="gutter-condensed gutter-lg flex-column flex-md-row d-flex">
      <div class="flex-shrink-0 col-12 col-md-3 mb-4 mb-md-0">
      </div>
      <div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
        <div class="UnderlineNav width-full box-shadow-none hx_UnderlineNav-with-profile-color-modes-banner">
          <nav class="UnderlineNav-body">
            <a class="UnderlineNav-item {{ if .IsHome }} selected {{ end }}" href="{{ .Site.BaseURL }}">
              <svg class="octicon octicon-book UnderlineNav-octicon hide-sm" height="16" viewBox="0 0 16 16"
                version="1.1" width="16">
                <path fill-rule="evenodd"
                  d="M0 1.75A.75.75 0 01.75 1h4.253c1.227 0 2.317.59 3 1.501A3.744 3.744 0 0111.006 1h4.245a.75.75 0 01.75.75v10.5a.75.75 0 01-.75.75h-4.507a2.25 2.25 0 00-1.591.659l-.622.621a.75.75 0 01-1.06 0l-.622-.621A2.25 2.25 0 005.258 13H.75a.75.75 0 01-.75-.75V1.75zm8.755 3a2.25 2.25 0 012.25-2.25H14.5v9h-3.757c-.71 0-1.4.201-1.992.572l.004-7.322zm-1.504 7.324l.004-5.073-.002-2.253A2.25 2.25 0 005.003 2.5H1.5v9h3.757a3.75 3.75 0 011.994.574z">
                </path>
              </svg>
              Overview
            </a>
            {{ range $.Site.Params.sections }}
              {{ $name := .name }}
              {{ $url := .url }}
              {{ $section_name := trim $url "/" }}
              {{ $section := where $.Site.RegularPages "Section" $section_name }}
              {{ $section_count := len $section }}
              {{ $url := cond (eq 0 $section_count) "#" $url }}
              {{ $url := cond (eq $section_name "about") "/about/" $url }}
              <a class="UnderlineNav-item {{ if eq $.Section $section_name }} selected {{ end }}{{ if eq $.Type "tags" }} selected {{ end }}"
                href="{{ $url }}">
                {{ partial "select_octicon.html" (dict "context" . "octicon" .octicon) }}
                {{ $name }}

                {{ if ne $section_name "about" }}
                  {{ if eq $section_name "volunteer" }}
                    {{ range $section }}
                      {{ if isset .Params "conda" }}
                        {{ $conda := len .Params.conda }}
                        <span class="Counter">{{ sub $.Site.Data.volunteer.search.issueCount $conda }}</span>
                      {{ end }}
                    {{ end }}
                  {{ else if eq $section_name "software" }}
                  <span class="Counter">{{ sub $section_count 1 }}</span>
                  {{ else }}
                  <span class="Counter">{{ $section_count }}</span>
                  {{ end }}
                {{ end }}
              </a>
            {{ end }}
          </nav>
          <div class="profile-color-modes js-promo-color-modes-banner-profile isInitialToggle">
            {{ partial "select_octicon.html" (dict "context" . "octicon" "octicat") }}
            <span class="profile-color-modes-toggle js-promo-color-modes-toggle no-select" tabindex="0"
              onclick="switchTheme()">
              <div class="profile-color-modes-toggle-track no-select"></div>
              <div class="profile-color-modes-toggle-thumb js-promo-color-modes-thumb">
                <svg style="fill: var(--color-profile-color-modes-toggle-moon); margin: 7px 0 0 7px;" width="14"
                  height="13" viewBox="0 0 14 13" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M4.52208 7.71754C7.5782 7.71754 10.0557 5.24006 10.0557 2.18394C10.0557 1.93498 10.0392 1.68986 10.0074 1.44961C9.95801 1.07727 10.3495 0.771159 10.6474 0.99992C12.1153 2.12716 13.0615 3.89999 13.0615 5.89383C13.0615 9.29958 10.3006 12.0605 6.89485 12.0605C3.95334 12.0605 1.49286 10.001 0.876728 7.24527C0.794841 6.87902 1.23668 6.65289 1.55321 6.85451C2.41106 7.40095 3.4296 7.71754 4.52208 7.71754Z">
                  </path>
                </svg>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
