{{ define "overview" }}
{{ $pinned := where .Site.Pages "Params.pin" true }}
{{ $section := $pinned }}
{{ $section_title := "Pinned" }}

{{ if ne (len $pinned) 0}}
{{ else }}
{{ $section = where .Site.RegularPages "Section" "in" (slice "post" "publication") }}
{{ $section_title = "Popular posts" }}
{{ end }}
<div>
  <div class="position-relative">
    {{ with .Site.GetPage "/readme"  }}
    <div class="Box mt-4">
      <div class="Box-body p-4">
        <div class="d-flex flex-justify-between">
          <div class="text-mono text-small mb-3">
            <span class="" style="margin-right: 4px;">
              {{ partial "select_octicon.html" (dict "context" . "octicon" "face" ) }}
            </span>

            OVERVIEW<span class="text-gray-light">.md</span>
          </div>
        </div>
        <article class="markdown-body entry-content container-lg f5">
          {{- .Content -}}
        </article>
      </div>
    </div>
    {{ end }}
    <div class="mt-4">
      <div class="js-pinned-items-reorder-container">
        <h2 class="f4 mb-2 text-normal">
          {{ $section_title }}
        </h2>
        <ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list">
          {{ range (first 6 $section) }}
          <li class="col-12 col-md-6 col-lg-6 mb-3 d-flex flex-content-stretch">
            
            <div
              class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public source reorderable sortable-button-item">
              <div class="pinned-item-list-item-content">
                <div class="d-flex width-full flex-items-center position-relative">
                {{ if isset .Params "journal" }}
                  <span class="mr-2 text-gray flex-shrink-0">
                    {{ partial "select_octicon.html" (dict "context" . "octicon" "journal" ) }}
                  </span>
                {{ else }}
                  <span class="mr-2 text-gray flex-shrink-0">
                    {{ partial "select_octicon.html" (dict "context" . "octicon" "project" ) }}
                  </span>
                {{ end }}
                  <a class="text-bold flex-auto min-width-0" href="{{ .Permalink }}">
                    <span class="repo" title="{{ .Title | markdownify }}">{{ .Title | markdownify }}</span>
                  </a>
                </div>


                <div name="summary" class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
                  {{ .Summary | safeHTML }}
                </div>

                <p class="mb-0 f6 text-gray">
                  {{ with .Params.tags }}
                  {{ range $tag := (first 5 .) }}
                  <a href="{{ relURL (print "/tags/" . | urlize) }}" class="pinned-item-meta muted-link ">
                    <span class=" UnderlineNav-octicon hide-sm">
                      {{ partial "select_octicon.html" (dict "context" . "octicon" "tag" ) }}
                    </span>
                    {{ $tag | markdownify }}
                  </a>
                  {{ end }}
                  {{ end }}
                </p>
              </div>
            </div>
          </li>
          {{ end }}
        </ol>
      </div>
    </div>

    {{ $section := where .Site.RegularPages "Section" "in" (slice "post" "publication") }}
    {{ $section := union $section (where .Site.RegularPages "Section" "volunteer") }}
    <div class="mt-4 position-relative" id="contributions" data='[{{ range $index, $elem := $section }}
    {{ if eq .Params.type "conda" }}
      {{ $pr_count := len $.Site.Data.github.data.search.edges }}
      {{ range $i, $e := $.Site.Data.github.data.search.edges }}
      {
        "title": "{{ .node.title | markdownify }}",
        "link": "/volunteer/",
        "type": "Pull Request",
        "publishDate": "{{ dateFormat "2006-01-02 15:04:05" .node.createdAt }}"
      },
      {{ end }}

      {{ $conda_len := len $.Site.Data.volunteer.conda }}
      {{ range $i, $e := $.Site.Data.volunteer.conda }}
{
  "title": "{{ .title | markdownify }}",
  "link": "/volunteer/",
  "type": "Conda",
  "publishDate": "{{ dateFormat "2006-01-02 15:04:05" .date }}"
}{{ if ne $i (sub $conda_len 1) }},{{ end }}
      {{ end }}
    {{ else }}
{
  "title": "{{ .Title | markdownify }}",
  "link": "{{ .Permalink }}",
  "type": "{{ .Params.type | title }}",
  "publishDate": "{{ .PublishDate.Format "2006-01-02 15:04:05" }}"
},{{end}}
{{ end }}]'>
      <div class="js-yearly-contributions">
        <div class="position-relative">
          <h2 class="f4 text-normal mb-2" id="posts-count"></h2>
          <div class="border py-2 graph-before-activity-overview">
            <div
              class="js-calendar-graph mx-md-2 mx-3 d-flex flex-column flex-items-end flex-xl-items-center overflow-hidden pt-1 is-graph-loading graph-canvas calendar-graph height-full text-center">
              <svg width="828" height="128" class="js-calendar-graph-svg">
                <g transform="translate(10, 20)" id="graph-svg">
                </g>
              </svg>
            </div>
            <div class="contrib-footer clearfix mt-1 mx-3 px-3 pb-1">
              <div class="float-left text-gray">
              </div>
              <div class="contrib-legend text-gray">
                Less
                <ul class="legend">
                  <li style="background-color: var(--color-calendar-graph-day-bg)"></li>
                  <li style="background-color: var(--color-calendar-graph-day-L1-bg)"></li>
                  <li style="background-color: var(--color-calendar-graph-day-L2-bg)"></li>
                  <li style="background-color: var(--color-calendar-graph-day-L3-bg)"></li>
                  <li style="background-color: var(--color-calendar-graph-day-L4-bg)"></li>
                </ul>
                More
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="activity-listing contribution-activity">
        <div class="d-none d-lg-block">
          <div class="js-profile-timeline-year-list bg-white float-right col-2 pl-5 is-placeholder"
            style="visibility: hidden; display: none; height: 210px;"></div>
          <div style="top: 74px; position: static;"
            class="js-profile-timeline-year-list bg-white js-sticky float-right col-2 pl-5">
            <ul class="filter-list small" id="year-list">
            </ul>
          </div>
        </div>

        <h2 class="f4 text-normal mt-4 mb-3">
          Contribution activity
        </h2>

        <div id="posts-activity">
        </div>
      </div>

    </div>

    <div id="pinned-items-modal-wrapper"></div>

  </div>
</div>


<div id="svg-tip" class="svg-tip svg-tip-one-line" style="pointer-events: none; display: none;">
</div>
{{ end }}
