{{ define "publication" }}
<div> 
    <main>
      <div class="container-lg px-3 new-discussion-timeline">
        <div class="repository-content gist-content">
          <div>
            <div class="js-gist-file-update-container js-task-list-container file-box">
              <div id="file-pytest" class="file my-2">
                <div class="file-header d-flex flex-md-items-center flex-items-start">
                  <div class="file-info d-flex flex-md-items-center flex-items-start flex-order-1 flex-auto">
                    <div class="file-actions flex-order-2 pt-0">
                      {{ with .Params.tags }}
                      {{ range $tag := sort . "" "" }}
                      <a class="muted-link mr-3" href="{{ relURL (print "/tags/" . | urlize) }}">
                        <span class=" UnderlineNav-octicon hide-sm">
                          {{ partial "select_octicon.html" (dict "context" . "octicon" "tag" ) }}
                        </span>
                        {{ $tag | markdownify }}
                      </a>
                      {{ end }}
                      {{ end }}
                    </div>
                  </div>
                </div>

                <div class="Box-body px-5 pb-5">
                  <article class="markdown-body entry-content container-lg">
                    {{ if .Params.doi }}
                        <a href="https://doi.org/{{ .Params.doi }}" target="_blank">
                            <img src="https://zenodo.org/badge/DOI/{{ .Params.doi }}.svg" alt="Publication:{{ .Params.doi }}">
                        </a>
                    {{ end }}

                    {{ if .Params.pdf }}
                    <a href="{{ .Params.pdf | absURL }}" target="_blank">
                        <img src="https://img.shields.io/badge/PDF-Avialable-blue.svg" alt="PDF: Available">
                    </a>
                    {{ else }}
                        <a href="#">
                            <img src="https://img.shields.io/badge/PDF-Unavialable-red.svg" alt="PDF: Unavailable">
                        </a>
                    {{ end }}
                    <div>
                        <h3>{{ .Params.title | markdownify }}</h3>
                        <div class="col-12 d-inline-block text-gray mb-2 pr-4">
                            {{ delimit .Params.authors ", " | markdownify }}
                        </div>
                    </div>
                    <h2></h2>
                    {{ if .Params.abstract }}
                    <h3>Abstract</h3>
                    <p class="pub-abstract" itemprop="text">{{ .Params.abstract | markdownify }}</p>
                    {{ end }}
                    {{ if .Params.citation }}
                    <h3>Citation</h3>
                    <p class="pub-abstract" itemprop="text">{{ .Params.citation | markdownify }}</p>
                    {{ end }}
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{{ end }}
